/assets/wordmaze/csharp/homofonerUtils/.vs
/assets/wordmaze/csharp/homofonerUtils/obj
/mainbrain/csharp/mainbrainUtils/.vs
/mainbrain/csharp/mainbrainUtils/obj
/assets/wordmaze/csharp/homofonerUtils/bin
/mainbrain/csharp/mainbrainUtils/bin
